body {
    font-family: 'Arial', sans-serif;
    margin-top: 70px;
    background-color: #2c2c2e; /* Ciemne, ale nie czarne tło */
    color: #f5f5f7; /* Bardzo jasny szary tekst */
}

.navbar {
    background: linear-gradient(145deg, #424245, #303030); /* Subtelny gradient dla paska nawigacyjnego */
    border-bottom: 3px solid #42a5f5; /* Niebieski akcent koloru */
}

.navbar-brand, .navbar-text {
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Cień tekstu dla lepszej czytelności */
}

.table {
    background-color: #424245; /* Ciemnoszary kolor tabeli */
    border: 1px solid #525255; /* Delikatne obramowanie */
}

.table th {
    background-color: #303030; /* Bardziej intensywny ciemny kolor dla nagłówków */
    color: #42a5f5; /* Jasny niebieski tekst */
}

.table td {
    border-bottom: 1px solid #525255; /* Delikatne linie między wierszami */
    color: #e3f2fd; /* Jasny tekst */
}

.footer {
    background: #303030;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-primary {
    background-color: #42a5f5; /* Jasny niebieski */
    border-color: #1e88e5; /* Nieco ciemniejszy niebieski */
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #1e88e5;
    border-color: #1565c0;
    transform: scale(1.1); /* Lekkie powiększenie przy najechaniu */
}

a:hover {
    text-decoration: underline;
    color: #64b5f6; /* Jasniejszy niebieski dla linków */
}
