/* Style dla Schroniska dla psów */

body {
    font-family: 'Arial', sans-serif;
    margin-top: 70px; /* Daje przestrzeń dla paska nawigacyjnego */
    background-color: #f4f4f4; /* Jasnoszare tło dla strony */
}

.navbar {
    background-color: #555; /* Ciemnoszary kolor dla paska nawigacyjnego */
}

.navbar-brand, .navbar-text {
    color: #fff; /* Biały tekst dla elementów nawigacyjnych */
}

.table {
    background-color: #fff; /* Białe tło dla tabeli */
}

.table th {
    background-color: #777; /* Ciemnoszary kolor dla nagłówków tabeli */
    color: #fff; /* Biały tekst dla nagłówków tabeli */
}

.footer {
    background-color: #555; /* Ciemnoszary kolor stopki */
    color: #fff; /* Biały tekst w stopce */
    text-align: center; /* Wyśrodkowanie tekstu w stopce */
    padding: 10px 0; /* Padding dla stopki */
    position: fixed; /* Ustawienie stopki na stałe na dole */
    bottom: 0;
    width: 100%;
}

.btn-primary {
    background-color: #006; /* Ciemnoniebieski kolor dla przycisków */
    border-color: #005cbf; /* Granatowy kolor obramowania przycisku */
}

/* Dodatkowe style mogą być tutaj, w zależności od potrzeb */
